.inputGroup {
    position: relative;
    margin: 5px 0px 20px 0px;
    width: 400px;
    display: flex;
}

.inputGroup input,
.inputGroup select {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
    font-size: 22px;
    appearance: none;
}
.selectIcon{
    position: absolute;
    top: 20px;
    right: 16px;
    pointer-events: none
}

.inputGroup label {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s ease all;
    background: white;
    padding: 0 4px;
}

.inputGroup input:focus + label,
.inputGroup input:not(:placeholder-shown) + label {
    top: -9px;
    left: 8px;
    font-size: 18px;
    color: #333;
}

.inputGroup select:focus + label,
.inputGroup select:not([value=""]) + label {
  top: -8px;
  left: 8px;
  font-size: 18px;
  color: #333;
}
