.buttonBox {
    position: absolute;
    z-index: 1;
}
.buttonBox button {
    margin: 4px;
    height: 65px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.icon {
    width: 50px;
    height: 100%;
    color: antiquewhite;
    padding: 5px;
}

.staffBox {
    display: flex;
    justify-content: center;
    margin: 15px 0px;
}
.staffContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
