.buttonBox {
    position: absolute;
    z-index: 1;
}
.buttonBox button {
    margin: 4px;
    height: 65px;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.icon {
    width: 50px;
    height: 100%;
    color: antiquewhite;
    padding: 5px;
}
.deleteButton {
    border: 0.1px dashed red;
}
.editButton {
    border: 0.1px dashed #004cff;
}
.editButton:hover {
    background-color: #2c3ace;
    box-shadow: 2px 2px 12px #2c3ace;
}
.deleteButton:hover {
    background-color: #c42222;
    box-shadow: 2px 2px 12px #c42222;
}
.addBtn {
    background-color: #0c5602;
    color: antiquewhite;
    font-size: 20px;
    margin-bottom: 15px;
}
.addBtn:hover {
    background-color: #15660a;
    box-shadow: 2px 2px 7px #58a858;
}
