.contentBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentBox a:hover{
    text-decoration: underline;
}
.teamImage {
    border-radius: 20px;
    background-color: rgb(60, 72, 72);
}
