.carouselContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 100%;
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.navButton {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    color: #222;
    transition: color 0.3s;
    z-index: 2;
}

.navButton:hover {
    color: #076f1a;
}

.carousel {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}

.card {
    position: relative;
    width: 400px;
    height: 460px;
    overflow: hidden;
    border-radius: 15px;
    cursor: pointer;
    flex-shrink: 0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.card:hover .image {
    transform: scale(1.05);
}

.infoOverlay {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        0deg,
        rgba(14, 18, 10, 0.8),
        rgba(3, 18, 3, 0.423)
    );
    color: white;
    padding: 15px;
    transition: bottom 0.4s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover .infoOverlay {
    bottom: 0;
}

.infoOverlay h3 {
    margin: 0 0 5px;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding-bottom: 5px;
}

.schedule p {
    margin: 19px 6px;
    font-size: 1.4rem;
}

.place {
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    color: #18950b;
}
