.container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    width: 100%;
    height: 100%;
}

.contactFormPage {
    display: flex;
    width: 1100px;
    height: 800px;
}

.formContainer {
    flex: 1 1 400px;
    padding: 3rem;
    background-color: #c3c5c357;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imageContainer {
    flex: 1 1 400px;
    overflow: hidden;
}

.imageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.formContainer label {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    color: #2a482a;
}

.formContainer input,
.formContainer select,
.formContainer textarea {
    margin-top: 0.5rem;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
}

.submitButton {
    background-color: #2b5c2b;
    color: white;
    border: none;
    padding: 0.9rem;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s;
}

.submitButton:hover {
    background-color: #3d783d;
}
