.cardBox {
    padding: 14px;
    width: 300px;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
    box-shadow: 7px 8px 6px rgba(47, 46, 46, 0.572);
    background-color: rgba(134, 133, 133, 0.588);
}
.header{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.content{
    font-size: 35px;
    font-weight: 800;
    color: rgb(152, 192, 152);
    text-shadow: 2px 2px 3.5px rgb(40, 79, 40);
}