.dialogBox {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important; 
    transform: translate(-50%, -50%) !important;
    padding: 2rem 3rem;
    border: none;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.dialogBox::backdrop {
    background: rgba(0, 0, 0, 0.4);
}
.dialogContent {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 100% ;
}
.dialogButtonBox {
    margin-top: 20px;
    display: flex;
    justify-content: end;
    width: 100%;
}

