* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
a{
    color: inherit;
    text-decoration: none;
}
.buttonStyle {
    padding: 8px;
    margin: 5px;
    border-radius: 12px;
    border:  none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.buttonStyle:hover {
    box-shadow: 1px 4px 10px #706f6fa9;
}
:root {
    --primary-color: #4a4b4c;
    --secondary-color: #626363;
    --third-color: rgb(69, 67, 93);
}
