.navBox {
    display: grid;
    grid-template-columns: 35% 65%;
    align-items: center;
    height: 70px;
    max-width: 1800px;
}
.navBox a {
    text-decoration: none;
    color: black;
}
.logoBox {
    display: flex;
    margin-left: 10px;
    gap: 10px;
    width: 80%;
    font-size: 30px;
    font-weight: 900;
    letter-spacing: 3px;
    padding: 2px 5px;
    background: linear-gradient(
        to right,
        rgba(46, 79, 46, 0.5),
        rgba(77, 138, 77, 0.5),
        rgba(140, 193, 137, 0.26)
    );
    border-radius: 30px;
    box-shadow: 0 0 15px rgba(127, 109, 109, 0.373);
}
.logoBox a {
    color: rgb(255, 255, 255);
    margin-left: 8px;
}
.linksBox {
    display: grid;
    grid-template-columns: 65% 35%;
    align-items: center;
    justify-content: space-around;
    font-size: 26px;
    list-style: none;
}
.tabContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.tabContainer a:hover {
    text-decoration: underline;
    color: rgb(168, 172, 169);
    text-shadow: 0 0 8px rgba(12, 134, 20, 0.8);
}
.navItem {
    position: relative;
}
.dropdownMenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: white;
    padding: 0;
    margin: 0;
    min-width: 150px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdownMenu li a {
    padding: 8px 12px;
    display: block;
}

.dropdown:hover .dropdownMenu {
    display: block;
}

.joinUsButtonContainer {
    display: flex;
    justify-content: end;
}
.joinUsButtonContainer a {
    margin-right: 30px;
    padding: 8px;
    background-color: rgb(91, 160, 83);
    border: 1px black;
    border-radius: 15px;
    color: white !important;
}
