.columnWrapper {
    flex-direction: column;
}

.teamImages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    width: 88%;
    margin-top: -25px;
    margin-left: 50px;
    padding: 10px 0;
}

.teamLogo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.teamLogo:hover {
    transform: scale(1.1);
    cursor: pointer;
}
