.icon {
    width: 40px;
    height: 100%;
    color:antiquewhite;
    background: gray;
    padding: 5px;
    background: none;
    cursor: pointer;
}
.icon:hover {
    color: antiquewhite;
}

.nameStyle {
    text-align: start !important;
}
.nameStyle a {
    font-weight: 600;
}
.nameStyle a:hover {
    color: #2b7d48;
    text-decoration: underline;
}
.buttonBox {
    display: flex;
    background: none;
}
.buttonBox button {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
