.chartWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 1rem;
    padding: 1rem;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.395);
    transition: all 0.3s ease;
}
.squareWrapper{
    max-width: 510px;
    height: 400px;
}

.chartWrapper:hover {
    transform: scale(1.02);
}
