.playerInfo {
    display: flex;
}
.playerInfo p {
    margin: 3px 4px;
    font-size: 20px;
    font-weight: 500;
}
.awayPlayerInfo {
    justify-content: end;
}
.homePlayerInfo{
    flex-direction: row-reverse;
    justify-content: start;
}
.playerNumber {
    margin: auto;
}
.squadBox h1{
    margin-bottom: 15px;
}
