.mainPage{
  background-color: var(--primary-color);
}
.mainBG{
    position: relative;
    background-image: url("/mainPageBG.jpg");
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.mainBG::before {
  content: "";
  position: absolute;
  inset: 0; 
  background-color: rgba(69, 65, 65, 0.7); 
  pointer-events: none; 
}
.contentBox{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
.title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #ffffff;
    margin-bottom: 24px;
}

