.mainPage{
  background-color: beige;
}
.mainBG{
    position: relative;
    background-image: url("/mainPageBG.jpg");
    height: 760px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}
.mainBG::before {
  content: "";
  position: absolute;
  inset: 0; /* top:0; right:0; bottom:0; left:0; */
  background-color: rgba(69, 65, 65, 0.7); /* biały z 20% kryciem */
  pointer-events: none; /* nie blokuje kliknięć */
}
.contentBox{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}
